<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="inner">
            <a href="/" class="logo">NES<span>.Sample</span></a>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Received messages", "Index", "Messages")</li>
                    <li>@Html.ActionLink("Send a message", "Send", "Messages")</li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="wrapper">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="inner">
            Find out more at <a href="http://www.github.com/elliotritchie/NES" target="_blank">http://github.com/elliotritchie/NES</a>
        </div>
    </footer>
</body>
</html>
